body {
  padding-top: 50px;
  background-color:#fff;
}
a {
  color: #00B7FF;
}
.row.element{
	margin-left:0px;
	margin-right:0px;
	border:1px solid #000;
	margin:5px;
	padding:10px;
}
.row.element .col-xs-6.col-md-4{
	text-align:right;
}
.row.element.selected{
	background-color: #e59985;
}