<br/>
<a ui-sref="newItem({name:'employee'})" class="btn-primary btn-lg nodecoration">Add New Employee</a>
<br/><br/>
<span class="labelOption">Sort by</span>
<select ng-options="item for item in sortField" ng-model="sortBy"></select>
<span class="labelOption">Descending Order</span>
<select ng-options="item for item in [true,false]" ng-model="reverseSort"></select>
<span class="labelOption">Group by</span>
<select ng-options="item for item in groupField" ng-model="groupByField"></select>
<span class="labelOption">View</span>
<select ng-options="item for item in viewList" ng-model="view"></select>
<span class="labelOption">Search By</span>
<input type="text" ng-model="searchString"></select>
<h3>Employee List</h3>
<span ng-show="groupByField ==='none'">
	<div id="tpl-content" ng-class="view+'viewLayout'" ng-include src="'viewtemplate.htm'" onload="currentemployeeInstanceList = employeeInstanceList"></div>
</span>
<span ng-show="groupByField !=='none'">
	<span class="groupbyheader" ng-repeat="(key, value) in employeeInstanceList | groupBy: groupByField | orderBy : sortBy : reverseSort ">
	  Group name: {{ key }}
	  <div id="tpl-content" ng-class="view+'viewLayout'" ng-include src="'viewtemplate.htm'" onload="currentemployeeInstanceList = value"></div>
	</span>
</span>
<script type="text/ng-template" id="viewtemplate.htm">
	<div class="tableHeader" ng-show="view ==='details'">
		<span class="headerLabel">Sno</span>
		<span class="headerLabel">Name</span>
		<span class="headerLabel">Date of Birth</span>
		<span class="headerLabel">Date of Joining</span>
		<span class="headerLabel">Department</span>
		<span class="headerLabel">Title</span>
		<span class="headerLabel">View</span>
	</div>
	<div class="tableData" ng-repeat="employee in currentemployeeInstanceList | orderBy : sortBy : reverseSort | searchfilter:searchString">
		<span class="labelcell" ng-show="view !=='list'">	
			<span class="label" ng-show="view ==='card'">Sno : </span>
			<span class="labelData">{{employee.id}}</span>
		</span>
		<span class="labelcell">	
			<span class="label" ng-show="view ==='card'">Name : </span>
			<span class="labelData">{{employee.name}}</span>
		</span>
		<span class="labelcell" ng-show="view !=='list'">
			<span class="label" ng-show="view ==='card'">Date of Birth : </span>
			<span class="labelData">{{employee.dateofBirth}}</span>
		</span>
		<span class="labelcell" ng-show="view !=='list'">
			<span class="label" ng-show="view ==='card'">Date of Joining : </span>
			<span class="labelData">{{employee.dateofJoining}}</span>
		</span>
		<span class="labelcell" ng-show="view !=='list'">
			<span class="label" ng-show="view ==='card'">Department : </span>
			<span class="labelData">{{employee.department}}</span>
		</span>
		<span class="labelcell" ng-show="view !=='list'">
			<span class="label" ng-show="view ==='card'">Title : </span>
			<span class="labelData">{{employee.title}}</span>
		</span>
		<span class="labelcell" ng-show="view !=='list'">
			<span class="label" ng-show="view ==='card'"></span>
			<span class="labelData"><a class="btn btn-primary" ui-sref="
			viewItem({name:'employee',id:employee.id})">View</a></span>
		</span>
	</div>

</script>